div.nagios_subject {
  font-weight: bold;
}

div.nagios_message {
}
div.nagios_time {
  font-size: 0.9em;
  padding-left: 1em;
  font-style: italic;
}
.nagios_ok { background-color: #dfd; }
.nagios_warning { background-color: #ffd; }
.nagios_critical { background-color: #fdd; }
.nagios_unknown { background-color: #def; }
