
/* Styling for the nagios message formatter */

.nagios_subject {
  font-weight: bold;
}

.nagios_message {}

.nagios_time {
  font-size: 0.9em;
  padding-left: 0.5em;
  font-style: italic;
}
.nagios_ok { background-color: #dfd; }
.nagios_warning { background-color: #ffd; }
.nagios_critical { background-color: #fdd; }
.nagios_unknown { background-color: #def; }

.nagios_icon {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.nagios_icon.ok {
  background-image: url(https://github.com/bigcartel/nagios-campfire-propane/raw/master/images/ok.png);
}
.nagios_icon.warning {
  background-image: url(https://github.com/bigcartel/nagios-campfire-propane/raw/master/images/warning.png);
}
.nagios_icon.critical {
  background-image: url(https://github.com/bigcartel/nagios-campfire-propane/raw/master/images/critical.png);
}
.nagios_icon.unknown {
  background-image: url(https://github.com/bigcartel/nagios-campfire-propane/raw/master/images/unknown.png);
}
.nagios_icon.summary {
  background-image: url(https://github.com/bigcartel/nagios-campfire-propane/raw/master/images/summary.png);
}
